In [3]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 500)

train_df = pd.read_csv('../data/raw/train.csv')
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [20]:
test_df = pd.read_csv('../data/raw/test.csv')

In [38]:
# get list of rooms per passenger, split by ' '
# 'Cabin' column has a list of rooms per passenger, separated by spaces, sometimes with multiple deck letters
# convert to an array of deck, number tuples

# initial look does not show passengers with multiple decks and multiple room numbers


def parse_cabin(string):
    if pd.isna(string):
        return []
    tokens = string.split()
    result = []
    deck_map = {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6, 'G': 7, 'T': 8}
    for token in tokens:
        try:
            deck = deck_map[token[0]]
            room = int(token[1:])
        except (KeyError, ValueError): # exit the loop if we hit an unexpected format, 'F G67' for example
            return []
        result.append({'deck': deck, 'room': room})
    return result


train_df['rooms'] = train_df['Cabin'].apply(parse_cabin)
train_df['room_count'] = train_df['rooms'].apply(lambda x: len(x) if len(x) > 0 else np.nan)
train_df['deck'] = train_df['rooms'].apply(lambda x: x[0]['deck'] if len(x) > 0 else np.nan)


train_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,rooms,room_count,deck
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,[],NaN,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,"[{'deck': 3, 'room': 85}]",1.0,3.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,[],NaN,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,"[{'deck': 3, 'room': 123}]",1.0,3.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,[],NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,[],NaN,NaN
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,"[{'deck': 2, 'room': 42}]",1.0,2.0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,[],NaN,NaN
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,"[{'deck': 3, 'room': 148}]",1.0,3.0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,[],NaN,NaN